
@{
    ViewData["Title"] = "Gear Ordering";
}

<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/bg4.jpg);">
        <div class="container">
            <div class="rdx-bnr-inr-entry">
                <h1 class="text-white">Products</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Products</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic1.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Saber</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$20.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic2.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Double Bladed Saber</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$30.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic3.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Dagger</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$10.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic6.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Fuego Ball</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$10.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic4.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Shield Shirt</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$20.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic5.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Head Band</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$15.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b30">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic6.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Starts Pate</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$5.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 m-b10">
                    <div class="rdx-box p-a20 border-1 bg-gray">
                        <div class="rdx-thum-bx rdx-img-overlay1 rdx-img-effect zoom">
                            <img src="~/images/product/pic1.jpg" alt="">
                            <div class="overlay-bx">
                                <div class="overlay-icon"> <a href="javascript:void(0)"> <i class="fa fa-cart-plus icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-search icon-bx-xs"></i> </a> <a href="javascript:void(0)"> <i class="fa fa-heart icon-bx-xs"></i> </a> </div>
                            </div>
                        </div>
                        <div class="rdx-info p-t20 text-center">
                            <h4 class="rdx-title m-t0 m-b5 text-uppercase"><a href="#">Custom Character</a></h4>
                            <h4 class="m-b0 font-weight-700 text-black">$10.00 </h4>
                            <a href="javascript:void(0)" class="site-button m-t15">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </div>
    <!-- contact area  END -->
</div>
<!-- Content END-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}}