@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!-- Content -->
<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/bg4.jpg);">
        <div class="container">
            <div class="rdx-bnr-inr-entry">
                <h1 class="text-white">Privacy Policy</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content-area">
        <!-- Career -->
        <div class="container">
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-9 col-md-12">
                    <h1 class="m-b20 m-t0">Welcome to Education's Privacy Policy </h1>
                    <div class="rdx-separator bg-primary"></div>
                    <p>
                        <strong>
                            Even though 90% of Questers test above their grade levels after completing a semester of Quest, Mastery Quest is focused on authentic learning experience that develops the whole student. This is why our lessons combine science, math, social-studies, language arts, and physical education.
                        </strong>
                    </p>
                    <h2 class="m-t30 m-b10 ">Practical & Useful learning</h2>
                    <p>
                        Our approach to learning is founded on educational best practices and utilizes game-based learning, personalized learning, expeditionary learning, inquiry-based learning, and kinesthetic learning to create the most effective learning environment possible.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                        text ever since the  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    <h3>Our Approach </h3>
                    <ul class="list-check-circle primary">
                        <li>Game-base learning encourages students to become problem solvers, develop mastery mindsets, and practice soft-skills that they will need as adults.</li>
                        <li>Personalized learning encourages students to focus on their interest and skills progressing based on their individual competency, allowing them to progress to work beyond their grade level.</li>
                        <li>Expeditionary learning focuses on projects and in-depth studies into topics of interest and relevance to the world. After researching & learning from multiple content areas students learn how to solve problems in the real world. </li>
                        <li>Inquiry-based learning fosters student investigation and independence. During Quest, students are encouraged to ask questions and consider what they want to know about the world around them.</li>
                        <li>Kinesthetic learning requires student action. With this hands on learning approach Questers perform physical activities, hands-on experiences, drawing, role-play, building and the use of drama and athletics.</li>
                    </ul>

                    <h2 class="m-t30 m-b10 ">Immediate Feed Back</h2>

                    <p>
                        The Quest is a feedback environment designed to give important learning data to the facilitator and the Quester, highlighting strengths and places where growth is needed. Each Quest embarked on will require gaining knowledge and using it to solve problems that will arise while Questing. The knowledge needed is presented to the Quester through multiple formats including, scaffolding, game experience, conversation, graphic organizers, video & audio data, and investigation using the multiple apps that are part of Quest Research and presentations.
                    </p>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the  when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                    </p>
                    <h3>Our Privacy Policy </h3>
                    <ul class="list-check-circle primary">
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</li>
                        <li>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</li>
                        <li>Printer took a galley of type and scrambled it to make a type specimen book. </li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</li>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy book. </li>
                        <li>Eorem ipsum dolor sit amete printing and typesetting industry. </li>
                    </ul>

                </div>
                <!-- Left part start END -->
                <!-- Right part start -->
                <div class="col-lg-3 col-md-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                                <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte text-uppercase">Recent Highlights</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-6">
                            <div class="icon-bx-wraper bx-style-1 p-a30 center m-b15">
                                <div class="icon-bx-sm text-primary bg-white radius border-2 m-b20"> <a href="#" class="icon-cell"><i class="fa fa-building-o"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte text-uppercase">Recent Highlights</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod [...]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="icon-bx-wraper bx-style-1 p-a20 left">
                                <div class="icon-bx-xs text-primary bg-white radius border-2 "> <a href="#" class="icon-cell "><i class="fa fa-code"></i></a> </div>
                                <div class="icon-content">
                                    <h5 class="rdx-tilte text-uppercase">Content title</h5>
                                    <p>Lorem ipsum dolor sit elit nonummy dolor is euismod end [...]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Right part start END -->
            </div>
        </div>
        <!-- Career END -->
    </div>
    <!-- contact area END -->
</div>
<!-- Content END-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}