
@{
    ViewData["Title"] = "Courses";
}

<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/bg4.jpg);">
        <div class="container">
            <div class="rdx-bnr-inr-entry">
                <h1 class="text-white">Courses</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a href="#">Home</a></li>
                <li>Courses</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content bg-white">
        <!-- Faq -->
        <section class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic1.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Fine Arts</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat...</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$250</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic2.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Technology</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat...</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$250</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic3.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Mathematics</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat...</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$250</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic4.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Languages</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat...</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$250</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic5.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Athletics</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat...</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$250</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b10">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic6.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Science</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Lorem ipsum dolor consectetur adipiscing Fusce varius euismod lacus eget feugiat...</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$250</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faq END -->
    </div>
    <!-- contact area  END -->
</div>
<!-- Content END-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}