
@{
    ViewData["Title"] = "Tuition";
}

<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/bg4.jpg);">
        <div class="container">
            <div class="rdx-bnr-inr-entry">
                <h1 class="text-white">Courses</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Tuition</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- contact area -->
    <div class="content bg-white">
        <!-- Faq -->
        <section class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic1.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Gold Package</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Get everything you need to homeschool, including daily comprehensive lesson and assessment persona project guidance, outdoor quest, and indoor lab days.</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$275</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic2.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Silver Package</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Get everything you need to homeschool, including comprehensive lessons and assessment, personal project guidance, outdoor quest two days per week.</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$225</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic3.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Brownze Package</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Get everything you need to homeschool, including comprehensive lessons and assessments, personal project guidance, outdoor quest 1 day per week. </p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$150</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic4.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Online Only</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Get everything you need to homeschool, including daily comprehensive lessons and assessments and personal project guidance. </p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$100</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic5.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Private</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Start a group with close friends and family of up to four questers.</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$50 hr</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 m-b10">
                        <div class="ow-carousel-entry">
                            <div class="ow-entry-media rdx-img-effect zoom-slow"> <a href="#"><img src="~/images/our-work/pic6.jpg" alt=""></a> </div>
                            <div class="ow-entry-content p-a15">
                                <div class="ow-entry-title"><h4 class="m-tb0"><a href="#">Athletic Club</a></h4></div>
                                <div class="ow-entry-text">
                                    <p>Join our athletic club and improve cardio health, agility, strength, speed and confidence.</p>
                                </div>
                                <div class="ow-entry-button"></div>
                                <div class="m-t10">
                                    <a class="site-button radius-xl m-r15" href="#">Read More</a>
                                    <a class="site-button-link  m-r15" href="#">$50</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Faq END -->
    </div>
    <!-- contact area  END -->
</div>
<!-- Content END-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}