@{
    ViewData["Title"] = "Home";
}

<!-- Content -->
<div class="page-content">
    <!-- Slider -->
    <div class="main-slider style-two default-banner">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <div id="rev_slider_1058_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="agency" data-source="gallery" style="background-color:#222222;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
                    <div id="rev_slider_1058_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-2971" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="default" data-masterspeed="2000" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="images/main-slider/slide1.jpg" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption tp-shape tp-shapewrapper " id="slide-100-layer-1"
                                     data-x="['center','center','center','center']"
                                     data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']"
                                     data-voffset="['0','0','0','0']"
                                     data-width="full" data-height="full"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 2;background-color:rgba(0, 0, 0, 0.4);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption tp-shape tp-shapewrapper "
                                     id="slide-2971-layer-19"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                     data-width="full"
                                     data-height="full"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-basealign="slide"
                                     data-responsive_offset="off"
                                     data-responsive="off"
                                     data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":"bytrigger","ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":500,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     data-lasttriggerstate="reset"
                                     style="z-index: 6;text-transform:none;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                                     id="slide-2971-layer-6"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-156','-156','-156','-156']"
                                     data-width="100"
                                     data-height="2"
                                     data-whitespace="nowrap"
                                     data-type="shape"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 7;text-transform:none;background-color:#fff;border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>
                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption Agency-Title   tp-resizeme"
                                     id="slide-2971-layer-2"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-80','-101','-108','-107']"
                                     data-fontsize="['90','70','50','50']"
                                     data-lineheight="['90','70','50','50']"
                                     data-width="none"
                                     data-height="none"
                                     data-whitespace="nowrap"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textAlign="['left','left','left','left']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 9; white-space: nowrap;font-family:Lato;text-transform:left; color:#fff; font-family: Roboto; font-weight:bold;">Mastery Quest Academy</div>
                                <!-- LAYER NR. 5 -->
                                <div class="tp-caption Agency-SubTitle   tp-resizeme"
                                     id="slide-2971-layer-4"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-41','-46','-45']"
                                     data-width="['none','none','480','360']"
                                     data-height="none"
                                     data-whitespace="['nowrap','nowrap','normal','normal']"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 13; white-space: nowrap;text-transform:left; font-size:18px;  color:#fff; font-weight:700">Where Heroes are made & Geniuses are forged  </div>

                                <div class="tp-caption "
                                     id="slide-2971-layer-5"
                                     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                     data-y="['middle','middle','middle','middle']" data-voffset="['50','10','30','10']"
                                     data-width="['none','none','480','360']"
                                     data-height="none"
                                     data-whitespace="['nowrap','nowrap','normal','normal']"
                                     data-type="text"
                                     data-responsive_offset="on"
                                     data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                     data-textAlign="['center','center','center','center']"
                                     data-paddingtop="[0,0,0,0]"
                                     data-paddingright="[0,0,0,0]"
                                     data-paddingbottom="[0,0,0,0]"
                                     data-paddingleft="[0,0,0,0]"
                                     style="z-index: 13;">
                                    <a href="" class="site-button">Join the Quest!</a>
                                </div>
                            </li>

                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div>
                <!-- END REVOLUTION SLIDER -->
            </div>
        </div>
    </div>
    <!-- Slider END -->
    <!-- Services  -->
    <div class="section-full about-block bg-white">
        <div class="container">
            <div class="row">
                <div class="icon-bx-wraper center col-md-3 col-lg-3 col-sm-6 bg-green icon-box p-a0">
                    <div class="icon-bx-lg text-white"> <a href="#" class="icon-cell"><i class="fa fa-paint-brush"></i></a> </div>
                    <div class="icon-content text-white p-lr15 p-tb30">
                        <h2 class="rdx-tilte font-weight-900 m-b10">Cardio Health</h2>
                        <p>Aerobic, strenght, flexibility.<br>Development Builds Confidents</p>

                    </div>
                </div>
                <div class="icon-bx-wraper center col-md-3 col-lg-3 col-sm-6 bg-yello icon-box p-a0">
                    <div class="icon-bx-lg text-white"> <a href="#" class="icon-cell"><i class="fa fa-book"></i></a> </div>
                    <div class="icon-content text-white p-lr15 p-tb30">
                        <h2 class="rdx-tilte font-weight-900 m-b10">Curriculum</h2>
                        <p>Integrated Learning develops practical and academic knowledge across multiple disciplines. </p>
                    </div>
                </div>
                <div class="icon-bx-wraper center col-md-3 col-lg-3 col-sm-6 bg-red icon-box p-a0">
                    <div class="icon-bx-lg text-white"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                    <div class="icon-content text-white p-lr15 p-tb30">
                        <h2 class="rdx-tilte font-weight-900 m-b10">Emotional Intelligence</h2>
                        <p>Collaboration, problem solving, and self reflection develops emotionally wise Questers. </p>
                    </div>
                </div>
                <div class="icon-bx-wraper center col-md-3 col-lg-3 col-sm-6 bg-primary icon-box p-a0">
                    <div class="icon-bx-lg text-white"> <a href="#" class="icon-cell"><i class="fa fa-calendar"></i></a> </div>
                    <div class="icon-content text-white p-lr15 p-tb30">
                        <h2 class="rdx-tilte font-weight-900 m-b10">Role-Play</h2>
                        <p>Questers experience useful practice scenarios when real ones may not be available or safe to gain experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- Our Awesome Services -->
    <div class="section-full box-shadow bg-white content-inner">
        <div class="container">
           
        </div>
    </div>
    <!-- Our Awesome Services END -->
    <!-- Our Philosophy -->
    <div class="section-full text-white bg-img-fix content-inner bg-primary choose-us" style="background-image:url(images/background/patter-bg.png);">
        <div class="container">
            <div class="section-head  text-center text-white">
                <h2 class="h2">Our Philosophy</h2>
                <div class="rdx-separator-outer "><div class="rdx-separator bg-white style-liner"></div></div>
                <p>There is a direct link between intelligence, socio-emotional, and physical health. Thats why at M.Q. Home school we focus on developing the whole child.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
                        <div class="icon-bx-md radius bg-white m-b20">
                            <span class="icon-cell text-primary"><i class="fa fa-bus"></i></span>
                        </div>
                        <div class="icon-content">
                            <h4 class="rdx-tilte">Safety First</h4>
                            <p>M.Q. has a code of respect and safty for all Questers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
                        <div class="icon-bx-md radius bg-white m-b20">
                            <span class="icon-cell text-red"><i class="fa fa-child"></i></span>
                        </div>
                        <div class="icon-content">
                            <h4 class="rdx-tilte">Small Class Size</h4>
                            <p>Quest are kept small to allow for each child to develop at their own pace.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
                        <div class="icon-bx-md radius bg-white m-b20">
                            <span class="icon-cell text-yello"><i class="fa fa-apple"></i></span>
                        </div>
                        <div class="icon-content">
                            <h4 class="rdx-tilte">Personalized Learning</h4>
                            <p>Student interest are incorporated into daily lessons and Quest</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper bx-style-1 p-a20 center radius-sm">
                        <div class="icon-bx-md radius bg-white m-b20">
                            <span class="icon-cell text-green"><i class="fa fa-smile-o"></i></span>
                        </div>
                        <div class="icon-content">
                            <h4 class="rdx-tilte">Progress Monitoring</h4>
                            <p>Questers gain facilitator, Peer and Self assessment to monitor growth.</p>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Our Philosophy End -->
    <!-- Team member -->
    <div class="section-full bg-white content-inner">
        <div class="container">
            <div class="section-head text-center ">
                <h2 class="h2"> <span class="text-primary">Meet The Founder</span></h2>
                <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>                
            </div>
            <div class="section-content text-center ">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 m-b30">
                        <div class="rdx-team">
                            <div class="round-box bg-primary">
                                <div class="team-mamber">
                                    <div class="team-mamber">
                                        <img src="images/our-team/pic12.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="sosial-icon-team">
                                <ul class="rdx-social-icon border rdx-social-icon-lg">
                                    <li><a href="javascript:void(0);" class="fa fa-facebook fb-btn"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-twitter tw-btn m-l10"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-linkedin link-btn m-l10"></a></li>
                                    <li><a href="javascript:void(0);" class="fa fa-pinterest-p pin-btn"></a></li>
                                </ul>
                            </div>
                            <div class="border-1 team-info text-left p-a20 p-t40">
                                <h4 class="text-primary text-center m-t0 m-b5">Kojo Obeng</h4>
                                <h6 class="text-center m-t0 m-b5" >Director</h6>
                                <h5>Professional Experience</h5>
                                <p>When it comes to providing education to the next generation, diverse experience counts. The founder and director of Mastery Quest, Kojo Obeng M.ED, began creating learning experiences on an island boys & girls summer camp and continued for the next two decades gaining valuable experience in before after school programs, classroom teaching in public school, private school, charters, and homeschool communities. While gaining experience in these diverse education settings, Kojo created Mastery Quest to solve many of the problems that emerge using standard outdated education models.</p>
                                <h5>Athletic Experience</h5>
                                <p>After being recruited into the Hershey Track & Field Club in elementary school and playing varsity football and basketball in high school, Kojo continued Track & Field throughout college winning state and regional championships along the way. Kojo then became interested in other athletic/mental disciplines studying pranayama breathing, Shaolin kung fu, San Dao sparring, boxing, and fencing. He now teaches the health benefiting, I. Q. & confidence boosting aspects of these disciplines through the Mastery Quest gameplay experience.</p>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>
    </div>
    <!-- Team member END -->
    <!-- Testimonials -->
    <div class="section-full bg-img-fix content-inner overlay-black-dark" style="background-image:url(images/background/bg2.jpg);">
        <div class="container">
            <div class="section-head  text-center text-white">
                <h2 class="h2">What Parents Say</h2>
                <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>
                <p></p>
            </div>
            <div class="section-content">
                <div class="tab-content client-think">
                    <div class="tab-pane active p-a40 fade show" id="testmonial1">
                        <p>I love how our family can focus on subjects we want to learn with guidance and step by step direction.</p>
                        <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>
                        <h5></h5>
                        <span>Parent</span>
                    </div>
                    <div class="tab-pane p-a40 fade" id="testmonial2">
                        <p>Wills confidense and desire to learn has increased so much I don't have to remind him to complete assignments.</p>
                        <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>
                        <h5></h5>
                        <span>Parent</span>
                    </div>
                    <div class="tab-pane p-a40 fade" id="testmonial3">
                        <p>Parker was not interested in learning now after 4 years of questing his testing 3 grade level ahead.</p>
                        <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>
                        <h5></h5>
                        <span>Parent</span>
                    </div>
                </div>
                <!-- Nav tabs -->
                <ul class="client-pic nav justify-content-center m-t40">
                    <li>
                        <a href="#testmonial1" class="active" aria-controls="testmonial1" role="tab" data-toggle="tab">
                            <img src="images/testimonials/pic1.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#testmonial2" class="" data-toggle="tab">
                            <img src="images/testimonials/pic2.jpg" alt="" />
                        </a>
                    </li>
                    <li>
                        <a href="#testmonial3" class="" data-toggle="tab">
                            <img src="images/testimonials/pic3.jpg" alt="" />
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
            </div>
        </div>
    </div>
    <!-- Testimonials End -->
    <!-- Latest News -->
    <div class="section-full content-inner box-shadow">
        <div class="container">
            <div class="row">
                <div class="section-head col-lg-12 text-center">
                    <h2 class="h2"><span class="text-primary">Meet Our Best Tutors</span></h2>
                    <div class="rdx-separator-outer"><div class="rdx-separator bg-primary style-liner"></div></div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 m-b30">
                    <div class="rdx-box rdx-img-effect rotate">
                        <div class="rdx-media"> <a href="#"><img src="images/our-work/pic7.jpg" alt=""></a> </div>
                        <div class="rdx-info p-a20 border-1 text-center">
                            <h2 class="rdx-title m-t0 m-b10 font-weight-900"><a href="#">New Classroom</a></h2>
                            <div class="text-center news-info m-tb15">
                                <ul class="icon-list">
                                    <li class="event-time"><i class="fa fa-clock-o text-primary m-r10"></i>Aug 24, 2015 at 9:00 PM</li>
                                    <li class="event-date"><i class="fa fa-user text-primary m-r10"></i>By Mary Jane </li>
                                    <li class="event-address"><i class="fa fa-map-marker text-primary m-r10"></i>south africa</li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 m-b30">
                    <div class="rdx-box rdx-img-effect rotate">
                        <div class="rdx-media"> <a href="#"><img src="images/our-work/pic8.jpg" alt=""></a> </div>
                        <div class="rdx-info p-a20 border-1 text-center">
                            <h2 class="rdx-title m-t0 m-b10 font-weight-900"><a href="#">Our New Teacher</a></h2>
                            <div class="text-center news-info m-tb15">
                                <ul class="icon-list">
                                    <li class="event-time"><i class="fa fa-clock-o text-primary m-r10"></i>Aug 24, 2015 at 9:00 PM</li>
                                    <li class="event-date"><i class="fa fa-user text-primary m-r10"></i>By Mary Jane </li>
                                    <li class="event-address"><i class="fa fa-map-marker text-primary m-r10"></i>south africa</li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12 m-b10">
                    <div class="rdx-box rdx-img-effect rotate">
                        <div class="rdx-media"> <a href="#"><img src="images/our-work/pic6.jpg" alt=""></a> </div>
                        <div class="rdx-info p-a20 border-1 text-center">
                            <h2 class="rdx-title m-t0 m-b10 font-weight-900"><a href="#">Toddler Care</a></h2>
                            <div class="text-center news-info m-tb15">
                                <ul class="icon-list">
                                    <li class="event-time"><i class="fa fa-clock-o text-primary m-r10"></i>Aug 24, 2015 at 9:00 PM</li>
                                    <li class="event-date"><i class="fa fa-user text-primary m-r10"></i>By Mary Jane </li>
                                    <li class="event-address"><i class="fa fa-map-marker text-primary m-r10"></i>south africa</li>
                                </ul>
                            </div>
                            <p>Lorem ipsum dolor Fusce varius euismod lacus eget feugiat rorem ipsum dolor consectetur Fusce varius [...] </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest News END -->
</div>
<!-- Content END-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}