
@{
    ViewData["Title"] = "The Quest";
}

<!-- Content -->
<div class="page-content">
    <!-- inner page banner -->
    <div class="rdx-bnr-inr overlay-black-middle" style="background-image:url(../images/background/bg4.jpg);">
        <div class="container">
            <div class="rdx-bnr-inr-entry">
                <h1 class="text-white">The Quest</h1>
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- Breadcrumb row -->
    <div class="breadcrumb-row">
        <div class="container">
            <ul class="list-inline">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li>The Quest</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb row END -->
    <!-- Our Awesome Services -->
    <div class="section-full awesome-services bg-white content-inner">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-12 text-center section-head">
                        <h2 class="h2"> Elite Homeschool <span class="text-primary">Education</span></h2>
                        <div class="rdx-separator-outer "><div class="rdx-separator bg-primary style-liner"></div></div>
                        <div class="clear"></div>
                        <p>Mastery Quest is a community dedicated to growing "Jedi" level students with higher-order thinking, emotional intelligence, and physical mastery in a role-play environment reflecting history and current events. Our immersive role-play environment develops practical and academic knowledge across various subject matters. Through participating in a Quest, students develop high levels of listening, speaking, writing, and reading comprehension skills, while expanding their practical understanding of finances and mathematic concepts applied to the various science disciplines. Mastery Quest is a student-centered environment with highly qualified facilitators to guide Questers to their potential. Join the Quest.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50">
                            <div class="icon-bx-md radius bg-primary"><i class="fa fa-paint-brush"></i></div>
                            <div class="icon-content p-r40">
                                <h5 class="rdx-tilte">Integrated Lessons</h5>
                                <div class="rdx-separator-outer ">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p>Integrated lessons to develop the whole child.</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50">
                            <div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-book"></i></a> </div>
                            <div class="icon-content p-r40">
                                <h5 class="rdx-tilte">Cardio Health</h5>
                                <div class="rdx-separator-outer ">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p>Develop Cardio, strenght, flexibility and confidence.</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 right m-r50">
                            <div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-user"></i></a> </div>
                            <div class="icon-content p-r40">
                                <h5 class="rdx-tilte ">Collabration</h5>
                                <div class="rdx-separator-outer ">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p>Develop leadership skills, teamwork and how to apply content knowledge to the real world. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center worker m-b30 d-lg-block d-md-none">
                        <img src="~/images/student2.png" />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 left m-l50 ">
                            <div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-calendar"></i></a> </div>
                            <div class="icon-content p-l40">
                                <h5 class="rdx-tilte ">Our Approach</h5>
                                <div class="rdx-separator-outer ">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p>Personalized game based and project-based learning for higher order thinking and development.</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-2 m-b30 p-a20 m-l50 left">
                            <div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-graduation-cap"></i></a> </div>
                            <div class="icon-content p-l40">
                                <h5 class="rdx-tilte ">Role Play</h5>
                                <div class="rdx-separator-outer ">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p>Immersive roleplay environment develops critical thinking and creatvity.</p>
                            </div>
                        </div>
                        <div class="icon-bx-wraper bx-style-2 m-b10 p-a20 m-l50 left">
                            <div class="icon-bx-md radius bg-primary"> <a href="#" class="icon-cell"><i class="fa fa-clock-o"></i></a> </div>
                            <div class="icon-content p-l40">
                                <h5 class="rdx-tilte ">Progressive Monitoring</h5>
                                <div class="rdx-separator-outer ">
                                    <div class="rdx-separator bg-primary style-liner"></div>
                                </div>
                                <p>Gain regular feedback on your questers academic physical, and socio-emotional progress.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Awesome Services END -->


</div>
<!-- Content END-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}